APP_NAME=vortex
APP_ENV=development

HTTP_HOST=127.0.0.1
HTTP_PORT=8080
HTTP_ALLOWED_ORIGINS=http://127.0.0.1:3000

DB_NAME=vortex
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=admin

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=admin

RABBITMQ_HOST=127.0.0.1
RABBITMQ_PORT=5672
RABBITMQ_USER=rabbitmq
RABBITMQ_PASSWORD=admin
